<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snakime</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
</head>

<body>
    <div #container>
        <header>
            <div id="logo">Snakime</div>
            <div id="author">by guiosa06</div>
        </header>
        <main hx-get="{{ page }}" 
                hx-target="main" 
                hx-trigger="load" 
                hx-swap="innerHTML">
            
        </main>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>